
.general {
  background-color: steelblue;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}
.general:hover {
  background-color: slategray;
  color: white;
  scale: 1.1;
  transition: 0.3s;
}

.cancel {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}
.cancel:hover {
  background-color: #d32f2f;
  color: white;
  scale: 1.1;
  transition: 0.3s;
}