.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    padding: 10px;
}

.menu-toggle {
    cursor: pointer;
    background-color: #1f2235;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-toggle:hover {
    background-color: #2c304a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1f2235;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.optionsNavBar {
    display: none;
    position: absolute;
    background-color: #1f2235;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 200px;
    top: 50px;
    right: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.optionsNavBar a {
    text-align: center;
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    transition: background-color 0.3s;
    text-decoration: none;
}

.optionsNavBar a:hover {
    text-decoration: underline;
    background-color: #35384e;
    scale: 1.1;
}

.optionsNavBar.visible {
    display: block;
}

.optionsNavBar .cancel:hover {
    background-color: #f44336;  
}

.submenu {
    background-color: steelblue;
    position: absolute;
}

.submenu:hover {
    background-color: slategray;
    transition: 0.3s;
}