.container-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    max-width: 900px;
}

.buttonsEditProfile {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.buttonsGC {
    display: flex;
}

.profile1 {
    background-color: #ffffff53;
    color: #333;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px 20px;
    width: 100%;
    transition: box-shadow 0.3s ease-in-out;
}

.profile1:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.profile1 h1,
.profile1 h2 {
    margin-bottom: 0.5rem;
}

.profile1 h1 {
    font-size: 45px;
    font-weight: bold;
    color: black;
}

.formulario-perfil {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nameemail label {
    font-size: 16px;
    font-weight: bold;
    color: #414141;
    margin-bottom: 15px;
}

.nameemail input {
    font-size: 15px;
}

.formulario-perfil input,
.up-profile input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
    background-color: #fff;
    font-weight: 500;
}

.formulario-perfil input[readonly] {
    background: #eee;
    cursor: default;
}

.networks button {
    background-color: #5c6bc0;
    color: #fff;
    border: none;
    font-weight: bolder;
    padding: 10px 15px;
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.networks button:hover {
    background-color: #3f51b5;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    color: #333;
    border-radius: 50%;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

.social-links a:hover {
    background-color: #f1f1f1;
}

.social-links img {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .container-perfil {
        flex-direction: column;
    }

    .profile1 {
        width: 90%;
        margin-bottom: 1rem;
    }
}

.edit,
.nameemail,
.social-links {
    margin-bottom: 1rem;
}

.up-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.photouser {
    width: 130px !important;
    height: auto !important;
}

.img-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    margin-left: 50px;
    flex-direction: column;
}

.nameemail {
    margin-right: 50px;
}

.networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}